@CHARSET "UTF-8";

.panel40 {
	width: 40%;
	height: 100%;
	text-align: left;
	bottom: auto;
	float: left;
}

.panel60 {
	width: 55%;
	height: 100%;
	text-align: left;
	bottom: auto;
	float: left;
}

.panel30 {
	width: 30%;
	height: 100%;
	text-align: left;
	bottom: auto;
	float: left;
}

.panel20 {
	width: 20%;
	height: 100%;
	text-align: left;
	bottom: auto;
	float: left;
}

.panel10 {
	width: 10%;
	height: 100%;
	text-align: left;
	bottom: auto;
	float: left;
}

.panel90 {
	width: 90%;
	height: 100%;
	text-align: left;
	bottom: auto;
	float: left;
}

.panel80 {
	width: 75%;
	height: 100%;
	text-align: left;
	bottom: auto;
	float: left;
}

.noBorder {
	border: 0px;
}

.myButton {
	-moz-box-shadow: inset 0px 1px 0px 0px #dcecfb;
	-webkit-box-shadow: inset 0px 1px 0px 0px #dcecfb;
	box-shadow: inset 0px 1px 0px 0px #dcecfb;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b3dbfc
		), color-stop(1, #ffffff));
	background: -moz-linear-gradient(center top, #b3dbfc 5%, #80b5ea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3dbfc',
		endColorstr='#ffffff');
	background-color: #bddbfa;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #84bbf3;
	display: inline-block;
	color: black;
	font-family: arial;
	padding: 3px 12px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #ffffff;
}

.myButton:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea
		), color-stop(1, #bddbfa));
	background: -moz-linear-gradient(center top, #80b5ea 5%, #bddbfa 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea',
		endColorstr='#bddbfa');
	background-color: #80b5ea;
}

.myButton:active {
	position: relative;
	top: 1px;
}

.moviePanel {
	width: 100%;
}

.centerer {
	text-align: center;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.title {
	font-family: times, Times New Roman, times-roman, georgia, serif;
	color: #444;
	margin: 0;
	padding: 0px 0px 6px 0px;
	font-size: 51px;
	text-decoration: none;
	line-height: 44px;
	letter-spacing: -2px;
	font-weight: bold;
}

.smallHeadLine {
	font-family: Gill Sans, Verdana;
	font-size: 11px;
	line-height: 14px;
	color: #444;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	text-decoration: none;
}

.specTitle {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 55px;
	margin-top: 5px;
	margin-bottom: 0px;
	text-align: center;
	font-weight: normal;
	color: #222;
}

.date {
	font-size: 85%;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: black;
	font-size: 20px;
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	font-weight: 100;
}

.paragraph:first-letter {
	text-transform: uppercase;
}

.paragraph {
	color: #424242;
	font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond,
		Times, serif;
	letter-spacing: 0.1em;
	margin: 40px auto;
	text-transform: lowercase;
	line-height: 145%;
	font-size: 14pt;
	font-variant: small-caps;
}

.codeBody {
	color: black;
	font-family: Arial, Verdana, sans-serif;
	letter-spacing: 0.1em;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b3dbfc
		), color-stop(1, #ffffff)); background : -moz-linear-gradient( center
	top, #b3dbfc 5%, #80b5ea 100%); filter : progid :
	DXImageTransform.Microsoft.gradient ( startColorstr = '#b3dbfc',
	endColorstr = '#ffffff'); background-color : #bddbfa; width : 100%;
	height: 100%;
	min-height: 800px;
	margin-left: 0px;
	margin-right: 0px;
	border: 0px;
	background: -moz-linear-gradient(center top, #b3dbfc 5%, #80b5ea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3dbfc',
		endColorstr='#ffffff');
	background-color: #bddbfa;
	width: 100%;
}

.sourceCodeSytle {
	font-family: 'Lucida Console', 'Bitstream Vera Sans Mono', 'Courier New',
		Monaco, Courier, monospace;
	white-space: pre;
	text-align: left;
	width: 39.5em;
	line-height: 1.4em;
	margin: 1em 0;
	border: 1px dashed #aaa8a8;
	padding: 0.5em 0 0.3em 0.5em;
	font-size: 110%;
	color: #000;
	overflow: auto;
}

.codeContent {
	color: black;
	font-family: Arial, Verdana, sans-serif;
	letter-spacing: 0.1em;
	background: white;
	width: 60%;
	height: 100%;
	min-height: 800px;
	margin-left: auto;
	margin-right: auto;
}

.codePanel {
	width: 100%;
	border: 0px;
	margin: 0px;
}

.codeMainContent {
	min-height: 400px;
}

.codeFooter {
	text-align: center;
	font-size: 11px;
	margin-bottom: 10px;
	font-family: Arial, Verdana, sans-serif;
	width: 100%;
	border: 0px;
	margin: 0px;
	position: relative;
	bottom: 50px;
}

.codeHeader {
	min-height: 100px;
	color: white;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 35px;
	margin-bottom: 0px;
	text-align: center;
	font-weight: normal;
	background: gray;
}

.searchTextFiled {
	padding: 0px;
	margin: 0px;
	height: auto;
	width: 100%;
	background-image:
		url(data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw%3D%3D);
	background-color: transparent;
	z-index: 6;
	left: 0px;
	outline: none;
	background-position: initial initial;
	background-repeat: initial initial;
}

.left {
	float: left;
}

.searchGrid {
	height: auto;
	width: 100%;
	background-color: "#ccc"
}